@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
  }


  @keyframes glitch {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(-5px, 5px);
    }
    
    80% {
      transform: translate(5px, 5px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  @keyframes glitch-color {
    0%, 100% {
      text-shadow: 2px 2px red, -2px -2px blue;
    }
    50% {
      text-shadow: -2px -2px red, 2px 2px blue;
    }
  }
  
  .animate-glitch {
    animation: glitch 1s infinite, glitch-color 0.2s infinite;
  }
  
  

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  
  :root {
    --gap: 1rem;
    --card-width: clamp(280px, 20vw, 100vw);
    --card-aspect-ratio: 5 / 7;
    --card-height: calc(var(--card-width) * (7 / 5));
  }
  
  body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
    justify-content: center;
    min-height: 100vh;
  }
  
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, var(--card-width));
    gap: 1rem;
    /* overflow: hidden shouldn't break this? */
    overflow: hidden;
  }
  

  
  .column {
    display: grid;
    gap: 1rem;
    align-content: start;
  }
  
  .column:not(:nth-of-type(3)) {
    animation: scale 1s linear both;
    animation-timeline: scroll(root);
  }
  
  .column:is(:nth-of-type(2), :nth-of-type(4)) {
    --origin: calc(var(--gap) * -1);
    --destination: calc(var(--card-height) * 1.5 + var(--gap));
  }
  .column:is(:nth-of-type(1), :nth-of-type(5)) {
    --origin: calc(var(--gap) * -2);
    --destination: calc(var(--card-height) * 3.4 + var(--gap));
  }
  
  @keyframes scale {
    0% {
      transform: translateY(var(--origin, 0%));
    }
    100% {
      transform: translateY(var(--destination, -50%));
    }
  }
  
  img {
    max-width: 100%;
    border: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;
    aspect-ratio: 5 / 7;
    background: hsl(0 0% 80%);
  }


  /* From Uiverse.io by eslam-hany */ 
.button-container {
  display: flex;
  background-color: rgba(0, 73, 144);
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(0, 73, 144, 0.5) 5px 10px 15px;
  transition: all 0.5s;
}
.button-container:hover {
  width: 300px;
  transition: all 0.5s;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}
@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-blink-1 {
  animation: blink 4s linear infinite;
}

.animate-blink-2 {
  animation: blink 4s linear infinite 1s;
}

.animate-blink-3 {
  animation: blink 4s linear infinite 2s;
}

.animate-blink-4 {
  animation: blink 4s linear infinite 3s;
}
